<!DOCTYPE html>
<html>
  <head>
    <title>Tni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= Date.today %>

   <form action="/projects" method="get">
  <input type="text" name="countries" placeholder="Which country are you looking for?">
  <input type="submit">
</form>


<ul>
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Employees", employees_path %></li>
<li><%= link_to "Projects", projects_path %></li>
<li><%= link_to "Franchisees", franchisee_path %></li>
<li><%= link_to "HR", hr_path %></li>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Marketing", marketing_employees_path %></li>
</ul>

<!--
explanation of above:
To add a link, you use the helper link_to, specify what you want to
link it to and find the path by looking in rails routes
 -->

    <%= yield %>
  </body>
</html>
